*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

body{
    
    .container{
        width: 250px;
        height: 300px;
        border: 1px solid;
        padding: 10px;
        margin: 100px auto;
        background-color: aqua;
        
        form{
            display: flex;
            flex-direction: column;
            width: 200px;
            margin: auto;
            margin-top: 20px;
            
            label{

            }
            input{
                margin: 10px 0px;
                padding: 10px 0px;
            }
            button{
                padding: 10px 0px;
                margin-top: 10px;
            }
        }
    }
}