*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

body{
    background-color: gray;
    // margin: auto;
    // width: 100vw;
    // height: 100vh;
    // border: 1px solid;
    // overflow: hidden;
    
    .container{
        max-width: 230px;
        width: 90%;
        height: 300px;
        border: 1px solid;
        padding: 10px;
        margin: 100px auto;
        background-color: rgb(0, 255, 21);

        form{
            display: flex;
            flex-direction: column;
            width: 200px;
            margin: auto;
            margin-top: 20px;
            
            input{
                margin: 10px 0px;
                padding: 10px 0px;
            }
            button{
                padding: 10px 0px;
                margin-top: 10px;
            }
            
        }
    }
    .validate{
        animation-name: nono;
        animation-iteration-count: 2;
        animation-duration: 200ms;
    }
    


    @keyframes nono {
        0%{
            transform: translateX(0);
        }35%{
            transform: translateX(-10%);
        }70%{
            transform: translateX(10%);

        }100%{
            transform: translateX(0%);
        }
    }

    .squares{
       

        li{
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: rgba(243, 243, 243, 0.685);
            bottom: 0;
            display: flex;
            animation: up 5s infinite alternate;
            z-index: -10;
        }
    }
    
    
    @keyframes up {
        0%{
            opacity: 0;
            transform: translateY(0);
        }50%{
            opacity: 1;
        }100%{
            transform: translateY(-120vh) rotate(960deg);
            opacity: 0;
        }
    }

    .down{
        animation: down;
        animation-duration: 1.5s;
        animation-fill-mode: forwards; 
    }
    @keyframes down {
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(100vh);
        }
    }
}
